<!doctype html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CT Scan Lung Disease Prediction</title>
 
  
</head>
	

<body style="background: #fff;">

<h2 class ="text-cenetr" style="color:black;">CT Scan Lung Disease Prediction</h2><p>
<h4 class ="text-cenetr" style="color:black;">Upload an image and click submit</h4>


<form class ="p-3 text-center" method="post" action="/" enctype="multipart/form-data">
    <dl>
	<p style="color:Violet;">
		<input class = "form-contrpl" type="file" name="file" autocomplete="off" required>
	</p>
    </dl>
    <p style="color:Violet;">
	<input class = "btn btn-primary mt-3" type="submit" name="submit" value="Submit">
    </p>
</form>



<p style="color:MediumSeaGreen;">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
        Diagnosis for the following image is: <u><h3 style="color:MediumSeaGreen;">{{ messages[0] }}</h3></u><br>
        <img src="{{ messages[1] }}" width="300", height="225">
       
	  {% endif %}
	{% endwith %}
</p>





</body>
</html>
